<a href="https://colab.research.google.com/github/DevendraaK/Bangalore-House-Linear-Regression/blob/main/Tutorial_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
a=np.array([10,20,30,40,50])

In [ ]:
a

array([10, 20, 30, 40, 50])

In [ ]:
data=pd.Series(a)
print(data)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
data = pd.DataFrame({'name':pd.Series(['a','b','c','d']),
                     'age':pd.Series([10,20,30,40])})

In [ ]:
data

  name  age
0    a   10
1    b   20
2    c   30
3    d   40

In [ ]:
data.columns

Index(['name', 'age'], dtype='object')

In [ ]:
data.shape

(4, 2)

In [ ]:
import pandas as pd
data=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data')

In [ ]:
data.shape

(698, 11)

In [ ]:
data.dtypes

1000025     int64
5           int64
1           int64
1.1         int64
1.2         int64
2           int64
1.3        object
3           int64
1.4         int64
1.5         int64
2.1         int64
dtype: object

In [ ]:
data.head(10)

   1000025  5   1  1.1  1.2  2 1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7  10  3    2    1    2
1  1015425  3   1    1    1  2   2  3    1    1    2
2  1016277  6   8    8    1  3   4  3    7    1    2
3  1017023  4   1    1    3  2   1  3    1    1    2
4  1017122  8  10   10    8  7  10  9    7    1    4
5  1018099  1   1    1    1  2  10  3    1    1    2
6  1018561  2   1    2    1  2   1  3    1    1    2
7  1033078  2   1    1    1  2   1  1    1    5    2
8  1033078  4   2    1    1  2   1  2    1    1    2
9  1035283  1   1    1    1  1   1  3    1    1    2

In [ ]:
data.head

<bound method NDFrame.head of      1000025  5   1  1.1  1.2  2 1.3   3  1.4  1.5  2.1
0    1002945  5   4    4    5  7  10   3    2    1    2
1    1015425  3   1    1    1  2   2   3    1    1    2
2    1016277  6   8    8    1  3   4   3    7    1    2
3    1017023  4   1    1    3  2   1   3    1    1    2
4    1017122  8  10   10    8  7  10   9    7    1    4
..       ... ..  ..  ...  ... ..  ..  ..  ...  ...  ...
693   776715  3   1    1    1  3   2   1    1    1    2
694   841769  2   1    1    1  2   1   1    1    1    2
695   888820  5  10   10    3  7   3   8   10    2    4
696   897471  4   8    6    4  3   4  10    6    1    4
697   897471  4   8    8    5  4   5  10    4    1    4

[698 rows x 11 columns]>

In [ ]:
data.columns

Index(['1000025', '5', '1', '1.1', '1.2', '2', '1.3', '3', '1.4', '1.5',
       '2.1'],
      dtype='object')

In [ ]:
data.columns=['Sample code number','Clump Thickness','Uniformity of Cell Size','Uniformity of Cell Shape','Marginal Adhesion','Single Epithelial Cell Size','Bare Nuclei','Bland Chromatin','Normal Nucleoli','Mitoses','class']

In [ ]:
data.columns

Index(['Sample code number', 'Clump Thickness', 'Uniformity of Cell Size',
       'Uniformity of Cell Shape', 'Marginal Adhesion',
       'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin',
       'Normal Nucleoli', 'Mitoses', 'class'],
      dtype='object')

In [ ]:
data.head

<bound method NDFrame.head of      Sample code number  Clump Thickness  ...  Mitoses  class
0               1002945                5  ...        1      2
1               1015425                3  ...        1      2
2               1016277                6  ...        1      2
3               1017023                4  ...        1      2
4               1017122                8  ...        1      4
..                  ...              ...  ...      ...    ...
693              776715                3  ...        1      2
694              841769                2  ...        1      2
695              888820                5  ...        2      4
696              897471                4  ...        1      4
697              897471                4  ...        1      4

[698 rows x 11 columns]>

In [ ]:
data=pd.read_csv("https://bit.ly/imdbratings")

In [ ]:
data.shape

(979, 6)

In [ ]:
data.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [ ]:
data.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [ ]:
data.head()

   star_rating  ...                                        actors_list
0          9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....

[5 rows x 6 columns]

In [ ]:
data=pd.read_csv("https://bit.ly/imdbratings",nrows=50,usecols=[1,2,3])

In [ ]:
data.shape

(50, 3)

In [ ]:
data.columns

Index(['title', 'content_rating', 'genre'], dtype='object')

In [ ]:
data=pd.read_csv("https://bit.ly/imdbratings")

In [ ]:
data.head()

   star_rating  ...                                        actors_list
0          9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....

[5 rows x 6 columns]

In [ ]:
data.duration

0      142
1      175
2      200
3      152
4      154
      ...
974    116
975    118
976    138
977    114
978    126
Name: duration, Length: 979, dtype: int64

In [ ]:
data['duration']

0      142
1      175
2      200
3      152
4      154
      ...
974    116
975    118
976    138
977    114
978    126
Name: duration, Length: 979, dtype: int64

In [ ]:
data[data.duration>200]

     star_rating  ...                                        actors_list
7            8.9  ...  [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
17           8.7  ...  [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
78           8.4  ...  [u'Robert De Niro', u'James Woods', u'Elizabet...
85           8.4  ...  [u"Peter O'Toole", u'Alec Guinness', u'Anthony...
142          8.3  ...  [u'Aamir Khan', u'Gracy Singh', u'Rachel Shell...
157          8.2  ...  [u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...
204          8.1  ...  [u'Charlton Heston', u'Jack Hawkins', u'Stephe...
445          7.9  ...  [u'Charlton Heston', u'Yul Brynner', u'Anne Ba...
476          7.8  ...  [u'Kenneth Branagh', u'Julie Christie', u'Dere...
630          7.7  ...  [u'Denzel Washington', u'Angela Bassett', u'De...
767          7.6  ...  [u'Spencer Tracy', u'Milton Berle', u'Ethel Me...

[11 rows x 6 columns]

In [ ]:
data.title.unique()

array(['The Shawshank Redemption', 'The Godfather',
       'The Godfather: Part II', 'The Dark Knight', 'Pulp Fiction',
       '12 Angry Men', 'The Good, the Bad and the Ugly',
       'The Lord of the Rings: The Return of the King',
       "Schindler's List", 'Fight Club',
       'The Lord of the Rings: The Fellowship of the Ring', 'Inception',
       'Star Wars: Episode V - The Empire Strikes Back', 'Forrest Gump',
       'The Lord of the Rings: The Two Towers', 'Interstellar',
       "One Flew Over the Cuckoo's Nest", 'Seven Samurai', 'Goodfellas',
       'Star Wars', 'The Matrix', 'City of God', "It's a Wonderful Life",
       'The Usual Suspects', 'Se7en', 'Life Is Beautiful',
       'Once Upon a Time in the West', 'The Silence of the Lambs',
       'Leon: The Professional', 'City Lights', 'Spirited Away',
       'The Intouchables', 'Casablanca', 'Whiplash', 'American History X',
       'Modern Times', 'Saving Private Ryan', 'Raiders of the Lost Ark',
       'Rear Window', 'Psycho', 'The Green Mile', 'Sunset Blvd.',
       'The Pianist', 'The Dark Knight Rises', 'Gladiator',
       'Terminator 2: Judgment Day', 'Memento', 'Taare Zameen Par',
       'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
       'The Departed', 'Cinema Paradiso', 'Apocalypse Now',
       'The Great Dictator', 'The Prestige', 'Back to the Future',
       'The Lion King', 'The Lives of Others', 'Alien', 'Paths of Glory',
       'Django Unchained', '3 Idiots', 'Grave of the Fireflies',
       'The Shining', 'M', 'WALL-E', 'Witness for the Prosecution',
       'Munna Bhai M.B.B.S.', 'American Beauty', 'Das Boot',
       'Princess Mononoke', 'Amelie', 'North by Northwest',
       'Rang De Basanti', 'Jodaeiye Nader az Simin', 'Citizen Kane',
       'Aliens', 'Vertigo', 'Oldeuboi', 'Once Upon a Time in America',
       'Double Indemnity', 'Star Wars: Episode VI - Return of the Jedi',
       'Toy Story 3', 'Braveheart', 'To Kill a Mockingbird',
       'Requiem for a Dream', 'Lawrence of Arabia', 'A Clockwork Orange',
       'Bicycle Thieves', 'The Kid', 'Swades', 'Reservoir Dogs',
       'Eternal Sunshine of the Spotless Mind', 'Taxi Driver',
       'Dilwale Dulhania Le Jayenge', "Singin' in the Rain",
       'All About Eve', 'Yojimbo', 'The Sting', 'Rashomon', 'Amadeus',
       'The Treasure of the Sierra Madre',
       'Monty Python and the Holy Grail', 'Full Metal Jacket',
       'The Apartment', 'Ikiru', 'The Third Man', 'Snatch.',
       'For a Few Dollars More', 'Metropolis', 'Dil Chahta Hai',
       '2001: A Space Odyssey', 'Some Like It Hot', 'L.A. Confidential',
       'Batman Begins', 'Inglourious Basterds', 'Scarface',
       'Mr. Smith Goes to Washington', 'Toy Story',
       'Indiana Jones and the Last Crusade', 'Unforgiven',
       'The Great Escape', 'Jagten', 'On the Waterfront', 'The General',
       'Raging Bull', 'Downfall', 'Up', 'Wild Strawberries',
       'The Gold Rush', 'Ran', 'Chinatown', 'My Neighbor Totoro',
       'Judgment at Nuremberg', 'Barfi!', 'The Seventh Seal', 'Heat',
       "Pan's Labyrinth", 'The Bridge on the River Kwai', 'Die Hard',
       'Good Will Hunting', 'The Wages of Fear',
       'The Secret in Their Eyes', 'Lagaan: Once Upon a Time in India',
       'The Wolf of Wall Street', 'It Happened One Night', 'Blade Runner',
       'Warrior', "Howl's Moving Castle", 'The Elephant Man', 'Rebecca',
       'Incendies', 'Lock, Stock and Two Smoking Barrels',
       'V for Vendetta', 'The Big Lebowski', 'Cool Hand Luke',
       'Relatos salvajes', 'Casino', 'Gone with the Wind', 'Gone Girl',
       'The Best Years of Our Lives', 'How to Train Your Dragon',
       'Diabolique', 'Gran Torino', 'Rush', 'Into the Wild',
       'My Sassy Girl', 'The Deer Hunter', 'Mary and Max',
       "Hachi: A Dog's Tale", 'The Maltese Falcon', 'A Beautiful Mind',
       'Dial M for Murder', 'Trainspotting',
       'Tae Guk Gi: The Brotherhood of War', 'Persona', 'Touch of Evil',
       'Fargo', 'The Avengers', 'The 400 Blows', 'The Princess Bride',
       'Hotel Rwanda', 'Stalker', 'The Battle of Algiers', 'Underground',
       'Fanny and Alexander', 'Network', 'The Thing',
       'Butch Cassidy and the Sundance Kid', 'The Grapes of Wrath',
       'Black Cat, White Cat', 'Life of Brian', 'The Sixth Sense',
       'Finding Nemo', 'Nausicaa of the Valley of the Wind',
       'Kingsman: The Secret Service', 'Platoon',
       'Guardians of the Galaxy', 'In the Name of the Father',
       'Kill Bill: Vol. 1', 'No Country for Old Men', 'Le Samourai',
       '12 Years a Slave', "La leggenda del pianista sull'oceano",
       '8 1/2', 'Ben-Hur', 'Amores Perros', 'Stand by Me',
       'What Ever Happened to Baby Jane?', 'Annie Hall',
       'The Imitation Game', 'Laura', 'Departures', 'Infernal Affairs',
       'There Will Be Blood', 'The Grand Budapest Hotel', 'La Strada',
       'Sin City', 'Memories of Murder', 'Donnie Darko',
       "Who's Afraid of Virginia Woolf?", 'Gandhi', 'Solaris',
       'Harry Potter and the Deathly Hallows: Part 2', 'Paris, Texas',
       'The Wizard of Oz', '3-Iron', 'Boyhood', 'Million Dollar Baby',
       'The Last Picture Show', 'Strangers on a Train',
       'Cat on a Hot Tin Roof', 'La Dolce Vita', 'Chungking Express',
       'The Night of the Hunter', 'La Haine', 'Yip Man', 'High Noon',
       'Notorious', 'Before Sunrise', 'Elite Squad: The Enemy Within',
       'The Bourne Ultimatum', 'Castle in the Sky', 'The Celebration',
       'Spring, Summer, Fall, Winter... and Spring', 'Shutter Island',
       'Barry Lyndon', 'Stalag 17', 'Three Colors: Red',
       'X-Men: Days of Future Past', 'Sleuth', 'In the Mood for Love',
       'The Man Who Shot Liberty Valance', 'Arsenic and Old Lace',
       'The Big Sleep', 'Roman Holiday', 'The Philadelphia Story',
       'Akira', 'Anatomy of a Murder', 'The Cabinet of Dr. Caligari',
       'The Help', 'The Sea Inside', 'Elite Squad', 'The Hustler',
       'Rio Bravo', 'Twelve Monkeys', 'Harvey', 'A Christmas Story',
       'Jaws', 'The Raid 2', 'Rocky', 'Wings of Desire',
       'Pirates of the Caribbean: The Curse of the Black Pearl',
       'The Killing', 'Papillon', "The King's Speech", 'Groundhog Day',
       'A Fistful of Dollars', 'Monsters, Inc.', 'Dog Day Afternoon',
       'The Perks of Being a Wallflower', 'Young Frankenstein',
       'The Terminator', 'Harold and Maude', 'Before Sunset',
       'A Streetcar Named Desire', 'Bringing Up Baby',
       'The Diving Bell and the Butterfly', 'His Girl Friday',
       'Sling Blade', 'All Quiet on the Western Front', 'Prisoners',
       'The Return', 'The Manchurian Candidate', 'Duck Soup',
       'Beauty and the Beast', 'The Truman Show', 'The Wild Bunch',
       'Rope', 'The Graduate', 'Jurassic Park', 'Dogville', 'Furious 7',
       'Patton', 'The Nightmare Before Christmas', 'Being There',
       'Persepolis', 'This Is Spinal Tap', 'East of Eden',
       'Pink Floyd The Wall', 'Blood Diamond', 'Big Fish',
       'Slumdog Millionaire', 'Star Trek', 'The Straight Story',
       'Crimes and Misdemeanors', 'Charade', 'JFK', 'Dawn of the Dead',
       'Magnolia', 'Manhattan', 'Central Station', 'Brazil',
       'The Exorcist', 'Her', 'Dancer in the Dark', 'Rain Man',
       'Talk to Her', 'The Adventures of Robin Hood',
       'Aguirre, the Wrath of God', 'In the Heat of the Night',
       'Nosferatu', 'Black Swan', 'Ratatouille', 'The Searchers',
       'Short Term 12', 'Doctor Zhivago', 'Life of Pi',
       "All the President's Men", 'Battleship Potemkin',
       'Dances with Wolves', 'Catch Me If You Can', 'Cinderella Man',
       'Dead Poets Society', 'Ghost in the Shell', 'Head-On',
       "No Man's Land", 'Dallas Buyers Club', 'Days of Heaven',
       'The Sound of Music', 'District 9', 'Shadow of a Doubt',
       'Frankenstein', 'Shaun of the Dead', 'Night of the Living Dead',
       'Kill Bill: Vol. 2', 'Secrets & Lies', 'The Artist', 'Aladdin',
       'The Lady Vanishes', 'The Hobbit: The Desolation of Smaug',
       'Let the Right One In', 'Fiddler on the Roof',
       'The Hobbit: An Unexpected Journey', 'Three Colors: Blue',
       "Rosemary's Baby", 'Mystic River', 'Serenity', 'Amarcord',
       'Planet of the Apes', 'True Romance', 'Hannah and Her Sisters',
       'Moon', 'Before Midnight', 'My Name Is Khan', 'Scent of a Woman',
       'Mulholland Dr.', 'King Kong', 'The Fault in Our Stars',
       'The Incredibles', 'Edward Scissorhands', 'Casino Royale',
       'How to Train Your Dragon 2', 'In Bruges', 'The Untouchables',
       'Breathless', 'Spartacus', 'The Iron Giant', 'Midnight Cowboy',
       'The Blues Brothers', 'Freaks', 'Letters from Iwo Jima',
       'Edge of Tomorrow', 'Glory', 'The African Queen',
       'Birdman: Or (The Unexpected Virtue of Ignorance)', 'Big Hero 6',
       'Almost Famous', 'The Notebook', 'The Conversation',
       'The Breakfast Club', 'The Pursuit of Happyness', 'The Killer',
       'Once', 'Ying xiong', 'The Remains of the Day',
       'The Bride of Frankenstein', 'The Wrestler', 'Nightcrawler',
       'Gravity', 'Hard Boiled', 'Bonnie and Clyde',
       'The Bourne Identity', 'Key Largo', 'Nine Queens', 'Toy Story 2',
       'The Killing Fields', 'All About My Mother',
       'Cowboy Bebop: The Movie', 'Ed Wood', 'Stagecoach',
       'The Man Who Would Be King', 'The Outlaw Josey Wales',
       'Children of Men', 'The Insider', 'The Right Stuff', 'Badlands',
       'A Prophet', '4 Months, 3 Weeks and 2 Days', 'Le passe',
       'The Fall', 'Breaking the Waves', 'Mr. Nobody', 'Crash', 'Avatar',
       'Iron Man', 'Do the Right Thing', "Carlito's Way",
       'Crouching Tiger, Hidden Dragon', 'Lilya 4-Ever', 'The Chorus',
       'The Boondock Saints', "Miller's Crossing", 'Walk the Line',
       'Shrek', 'My Fair Lady', 'The Ten Commandments', 'The Fighter',
       'Captain Phillips', 'Cabaret', 'Halloween', 'My Left Foot',
       'Miracle on 34th Street', 'The Man from Nowhere',
       'Toki o kakeru shojo', 'Little Miss Sunshine', 'Taken',
       'Blue Is the Warmest Color', 'Boogie Nights', 'Hot Fuzz',
       "Ferris Bueller's Day Off", "The World's Fastest Indian",
       "Kiki's Delivery Service", 'Down by Law', 'Glengarry Glen Ross',
       'Clerks', "Adam's Apples", 'The Girl with the Dragon Tattoo',
       'The 39 Steps', 'E.T. the Extra-Terrestrial', 'Tombstone',
       'Predator', 'Tangled', "Guess Who's Coming to Dinner",
       'Ordinary People', 'The Best Offer', 'Silver Linings Playbook',
       'Hamlet', 'Amour', 'I Saw the Devil', 'The Motorcycle Diaries',
       'Office Space', 'Evil', 'Withnail & I',
       'The Day the Earth Stood Still', 'Black Book', 'Evil Dead II',
       'Kaze tachinu', 'Star Trek Into Darkness',
       'The Triplets of Belleville', 'Open Your Eyes',
       'The Magnificent Seven', 'Drive', 'Mississippi Burning',
       'The Lego Movie', 'The Day of the Jackal', 'Misery',
       'Willy Wonka & the Chocolate Factory', 'Fantasia', 'Gattaca',
       'American Gangster', 'Porco Rosso', 'The French Connection',
       'The Boy in the Striped Pajamas', 'Empire of the Sun',
       'About Time', 'Blue Velvet', 'In America',
       'The Curious Case of Benjamin Button', 'The Last of the Mohicans',
       'Moonrise Kingdom', 'Rebel Without a Cause', 'Fantastic Mr. Fox',
       'Invasion of the Body Snatchers', 'October Sky', 'Dirty Harry',
       'Ghostbusters', 'Captain America: The Winter Soldier',
       'Wreck-It Ralph', 'The Hangover', 'Back to the Future Part II',
       'Belle de Jour', 'O Brother, Where Art Thou?', 'Repulsion',
       'Airplane!', 'Pride & Prejudice', 'Zulu', 'Night on Earth',
       'From Here to Eternity', 'Apocalypto', 'Atonement',
       'The Dirty Dozen', 'X-Men: First Class', 'Run Lola Run',
       'The Longest Day', 'Zelig', 'The Last Emperor', 'The Goonies',
       'The White Ribbon', 'The Fugitive', 'The Color Purple',
       'South Park: Bigger Longer & Uncut', '(500) Days of Summer',
       'Lost in Translation', 'Argo', 'Blazing Saddles',
       "Breakfast at Tiffany's", 'Finding Neverland', 'The Experiment',
       'Lucky Number Slevin', 'The Theory of Everything',
       'Harry Potter and the Prisoner of Azkaban', 'Kung Fu Hustle',
       'Being John Malkovich', 'The Social Network', '3:10 to Yuma',
       'The Name of the Rose', 'Mary Poppins', 'The Game', 'Changeling',
       'Donnie Brasco', 'Serpico', "What's Eating Gilbert Grape",
       'Goldfinger', 'Nebraska', 'The Sandlot', 'Boyz n the Hood',
       'The Bourne Supremacy', 'Skyfall', 'Ray', '300', 'A Bronx Tale',
       'The Birds', 'Battle Royale', 'Control', 'Kramer vs. Kramer',
       'Deliverance', "Ocean's Eleven", 'As Good as It Gets',
       'Awakenings', 'The King of Comedy', 'Man on Fire', 'Sabrina',
       'Dark City', 'Good Bye Lenin!', 'Remember the Titans',
       'Star Trek II: The Wrath of Khan', 'Road to Perdition', 'Rushmore',
       'The Machinist', 'Flipped', 'The Count of Monte Cristo',
       'Detachment', 'Love Me If You Dare', 'Dead Man',
       'The Purple Rose of Cairo', '21 Grams', '50/50', 'Kick-Ass',
       'Delicatessen', 'Barton Fink', 'The Last King of Scotland',
       'Adaptation.', 'A Very Long Engagement', 'Mysterious Skin',
       'Stardust', 'Black Hawk Down', 'Paprika',
       'Fear and Loathing in Las Vegas', 'Frost/Nixon',
       'Enter the Dragon', 'Short Cuts', "A Hard Day's Night",
       'The Last Samurai', 'The Station Agent', 'Zombieland',
       'Sympathy for Mr. Vengeance', 'Despicable Me', 'Shane',
       'Forbidden Planet', 'Titanic', 'Gone Baby Gone', 'The Dinner Game',
       'Dawn of the Planet of the Apes', '25th Hour', 'Ponyo', 'Shine',
       'The Blind Side', 'Brokeback Mountain', 'Cast Away', 'Malcolm X',
       'Show Me Love', 'Boy A', 'The Warriors',
       'Close Encounters of the Third Kind', 'Match Point',
       'Training Day', 'The Butterfly Effect',
       'The City of Lost Children', 'Billy Elliot', 'Love Actually',
       'The Producers', 'Harry Potter and the Deathly Hallows: Part 1',
       'The Visitor', 'Philadelphia', 'Sense and Sensibility',
       'Three Colors: White', 'La grande bellezza', 'Primal Fear',
       'Where Eagles Dare', 'Dazed and Confused', 'Blood Simple.',
       'This Is England', 'Fearless', 'Dangerous Liaisons', 'Saw',
       'Snow White and the Seven Dwarfs', 'Coraline',
       'The Hunger Games: Catching Fire', "Sophie's Choice",
       'La Vie en Rose', 'Star Wars: Episode III - Revenge of the Sith',
       'True Grit', 'After Hours', 'Frozen', 'Lolita', 'Eastern Promises',
       'Midnight in Paris', 'The Muppet Christmas Carol',
       'Who Framed Roger Rabbit', 'Sympathy for Lady Vengeance',
       'Grindhouse', 'In a Better World', 'Blow-Up',
       'The Secret World of Arrietty', 'Kiss Kiss Bang Bang',
       'Lost Highway', 'Zodiac', 'Les Miserables', 'Moulin Rouge!',
       'Whale Rider', 'End of Watch', 'Philomena', 'Fury', 'The Big Blue',
       'First Blood', 'Minority Report', 'Spellbound', 'The Wicker Man',
       'Seven Pounds', 'Midnight Express', "Kelly's Heroes", 'MASH',
       'The Player', 'Traffic', 'Y Tu Mama Tambien',
       'Stranger Than Fiction', 'Inside Man', '127 Hours',
       'The Fifth Element', 'Milk', 'United 93', 'Jin ling shi san chai',
       'Dracula', 'High Plains Drifter', 'I Am Sam',
       'Fried Green Tomatoes', 'Watchmen', '28 Days Later...',
       'The Illusionist', 'Superbad', 'The Godfather: Part III',
       'The Royal Tenenbaums', 'The Jungle Book', 'Thank You for Smoking',
       'Man Bites Dog', 'A Few Good Men', 'The Legend of Drunken Master',
       'The Kite Runner', 'When Harry Met Sally...', 'Munich',
       'House of Sand and Fog', 'Lethal Weapon', 'Animal House',
       'Lord of War', 'Blow', 'Sherlock Holmes',
       'Harry Potter and the Goblet of Fire', 'La piel que habito',
       'The Crow', 'West Side Story', 'The Thin Red Line',
       'American Psycho', 'The Blind Swordsman: Zatoichi',
       'The Last Temptation of Christ',
       'The Naked Gun: From the Files of Police Squad!', 'The Others',
       'The Party', 'Army of Darkness', 'The Hurt Locker',
       'The Raid: Redemption', 'Volver', 'Following', 'Kung Fu Panda',
       'Mad Max 2: The Road Warrior', 'Jusan-nin no shikaku',
       "The Man Who Wasn't There", 'The Counterfeiters',
       'The Hunt for Red October', 'Lone Survivor', 'A Fish Called Wanda',
       'The Impossible', 'Garden State', 'Escape from Alcatraz',
       'Apollo 13', 'Lust, Caution', 'Selma', 'Funny Games', 'The Abyss',
       'Robin Hood', 'Enemy at the Gates', 'Falling Down',
       'Little Children', 'Hunger',
       'Indiana Jones and the Temple of Doom', 'Ip Man 2',
       'The Little Mermaid', "It's a Mad, Mad, Mad, Mad World",
       'The Reader', 'The Omen', 'A Royal Affair', 'Braindead',
       'Secondhand Lions', 'Disconnect', 'A Single Man', 'Hoosiers',
       'Moneyball', 'The Book Thief', 'Die Hard: With a Vengeance',
       'Interview with the Vampire: The Vampire Chronicles',
       'Midnight Run', 'An American Werewolf in London',
       'The Great Debaters', 'Tucker and Dale vs. Evil',
       'Dead Man Walking', 'The Piano', 'The Town',
       'Rise of the Planet of the Apes', "Boys Don't Cry", 'Ice Age',
       'Of Mice and Men', 'Sideways', 'High Fidelity',
       'The Meaning of Life', 'Hugo', 'Leaving Las Vegas',
       'The Evil Dead', 'Collateral', 'Planes, Trains & Automobiles',
       'Hodejegerne', 'Field of Dreams', 'Batman', 'Tell No One',
       'Ghost Dog: The Way of the Samurai', 'Chaplin', 'Keith', 'Juno',
       'The Assassination of Jesse James by the Coward Robert Ford',
       'The Fisher King', 'House of Flying Daggers', 'The Hours',
       'The Damned United', 'Star Trek: First Contact', 'The Natural',
       'The Hobbit: The Battle of the Five Armies', 'Equilibrium',
       'August Rush', 'Saving Mr. Banks', 'The Hurricane',
       "Jacob's Ladder", 'The Curse of the Were-Rabbit',
       'Christmas Vacation', 'Good Night, and Good Luck.', 'Straw Dogs',
       '42', 'Rudy', 'Sleepers', 'The Wind That Shakes the Barley',
       'Gangs of New York', 'Elizabeth', 'Green Street Hooligans',
       'Reign Over Me', 'RoboCop', 'The Life of David Gale',
       'Life as a House', 'Despicable Me 2', 'Jackie Brown',
       'Menace II Society', 'The Class', 'Bullets Over Broadway',
       'American Splendor', 'Perfume: The Story of a Murderer',
       'Cloud Atlas', 'Marathon Man', 'Pinocchio', 'The Painted Veil',
       'A Simple Plan', 'The Conjuring', 'The Man Who Knew Too Much',
       'Quiz Show', 'American Graffiti', 'The Bridges of Madison County',
       'Gallipoli', "L'illusionniste", 'Miracle', 'Maria Full of Grace',
       'Scott Pilgrim vs. the World', 'Pleasantville',
       'Sherlock Holmes: A Game of Shadows', 'Doubt', 'The Fly',
       'The Orphanage', 'Malena', 'Three Days of the Condor', '[Rec]',
       'A Perfect World', 'To Catch a Thief', 'Best in Show',
       'Everything Is Illuminated', 'A Nightmare on Elm Street',
       'The Ice Storm', 'X2', 'We Need to Talk About Kevin', 'Felon',
       'Still Alice', 'Rust and Bone', 'Freedom Writers',
       'Legends of the Fall', "Buffalo '66", 'The Constant Gardener',
       'My Cousin Vinny', 'The Texas Chain Saw Massacre', 'Mulan',
       'A History of Violence', 'Open Range', 'Total Recall', 'Pi',
       "The Devil's Backbone", 'The Aviator', "Devil's Advocate",
       'The Adventures of Priscilla, Queen of the Desert',
       'Harry Potter and the Half-Blood Prince', 'Fruitvale Station',
       'In the Bedroom', 'Source Code', 'Biutiful',
       'From Russia with Love', 'Calvary', 'The Mission', 'In the Loop',
       'The Three Burials of Melquiades Estrada', 'Babel', 'Frenzy',
       'Heavenly Creatures',
       'Sweeney Todd: The Demon Barber of Fleet Street', 'Looper',
       'The Proposition', 'Bullitt',
       "Harry Potter and the Sorcerer's Stone", '2046', 'Transamerica',

In [ ]:
data.genre.value_counts()

Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Adventure     75
Animation     62
Horror        29
Mystery       16
Western        9
Thriller       5
Sci-Fi         5
Film-Noir      3
Family         2
History        1
Fantasy        1
Name: genre, dtype: int64

In [ ]:
data=pd.read_csv("https://bit.ly/drinksbycountry")

In [ ]:
data.shape

(193, 6)

In [ ]:
data.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [ ]:
data.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [ ]:
data.head()

       country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0  Afghanistan              0  ...                           0.0       Asia
1      Albania             89  ...                           4.9     Europe
2      Algeria             25  ...                           0.7     Africa
3      Andorra            245  ...                          12.4     Europe
4       Angola            217  ...                           5.9     Africa

[5 rows x 6 columns]

In [ ]:
data